.currencyDetailComponent {
  top: 319px;
  left: 433px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 415px;
  height: 60px;
  margin: 10px auto;
  border: 1px solid #48AC98;
  border-radius: 20px;
  color: black;
  font-size: 30px;
  background-color: white;
}

.left-text {
  margin-left: 20px;

}

.right-text {
  margin-right: 20px;
  color: #48AC98;
}

.detailsBox {
  position: absolute;
  top: 128px;
  left: 378px;
  width: 525px;
  height: 641px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
}
/* .currencyDetailComponent
{
    top: 319px;
    left: 433px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 415px;
    height: 60px;

    margin: 10px auto;
    border: 1px solid #48AC98; 
    border-radius: 20px;
    color: black; 
    font-size: 30px; 
    background-color: white; 
  }
  
.left-text
{
    margin-left: 20px;
    
}
.right-text
{
    margin-right: 20px;
    color: #48AC98;
}
.detailsBox {
    position: absolute;
    top: 128px;
    left: 378px;
    width: 525px;
    height: 641px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
  }
   */
