.transaction-main {
  display: flex;
  justify-content: center;
}

.transaction-box {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 90px;
  background-color: white;
  margin: 67px 0px 0px 0px;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.create-new-transaction-text {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  margin-top: 30px;
}

.second-container {
  display: flex;
  flex-direction: column;
  margin: 0px 43px;
  gap: 35px;
  margin: 0px 70px 90px 70px;
}

.currency-transaction-container {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 0.25px solid var(--light-grey-color, #D4D4D4);
  box-shadow: 5px 5px 4px 0px rgba(0, 0, 0, 0.15);
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  padding: 0px 30px;
}

.amount-container {
  display: flex;
  flex: 1;
}

.amount-container input {
  height: inherit;
  width: 90%;
  font-size: 24px;
  border: none;
}

.dropdown-container select {
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
}

.withdrawal-deposit-container {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  line-height: 40px;
  font-size: 24px;
  color: rgba(72, 172, 152, 1);
  font-weight: 700;
}

.withdrawal-btn,
.deposit-btn {
  height: 60px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  padding: 8px 22px;
  border-radius: 20px;
  border: 2px solid var(--primary-color, #48AC98);
  color: rgba(72, 172, 152, 1);
  background-color: inherit;
  cursor: pointer;
}

.create-transaction-btn {
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  padding: 8px 22px;
  border-radius: 20px;
  border: 1px solid var(--white-color, #FFF);
  background-color: rgba(72, 172, 152, 1);
  cursor: pointer;
}

.create-transaction-btn:hover {
  background-color: rgb(96, 190, 172);
  transition: 0.2s;
}