.currency-list-bar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  border-radius: 15px;
  background-color: rgba(72, 172, 152, 1);
  color: rgba(255, 255, 255, 1);
  margin-bottom: 40px;
}

.exchangeable-currency-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.46px;
  padding: 8px 22px;
  border-radius: 4px;
  cursor: pointer;
}

.exchangeable-currency-btn.exchangeable {
  background-color: rgb(53, 112, 100);
  color: white;
  border: 1px solid var(--primary-color, rgb(53, 112, 100));
}

.exchangeable-currency-btn:not(.exchangeable) {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--white-color, #FFF);
  color: rgba(72, 172, 152, 1);
}

.add-currency-btn {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.46px;
  color: rgba(255, 255, 255, 1);
  padding: 8px 22px;
  border-radius: 4px;
  border: 1px solid var(--white-color, #FFF);
  background-color: rgba(72, 172, 152, 1);
  cursor: pointer;
}

.add-currency-btn:hover {
  background-color: rgb(96, 190, 172);
  transition: 0.2s;
}