@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(243, 244, 246);
}